@import "tailwindcss";
@import "basecoat-css";

@source inline('{hover:,active:,}{bg,text,border,divide,outline,ring,accent,caret,decoration,fill,stroke}-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,stone,neutral,zinc,gray,slate,gray,black,white}-{50,{100..900..100},950,950}');
@source inline('size-{0,0.5,1,1.5,2,2.5,3,3.5,4,5,6,7,8,9,10,11,12,14,16,20,24,28,32,36,40,44,48,52,56,60,64,72,80,96,auto,px,full,screen,svw,lvw,dvw,min,max,fit}');

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
